## python assignment

Task1:

-Q.1

-Ans

In [1]:
##.. my first python assignment...

In [11]:
print('i install the jupyter notebook and run the first program belove some sample example: here ')

i install the jupyter notebook and run the first program belove some sample example: here

In [2]:
a=10
print(a)

10

In [3]:
name ='my name is Irayya'
print(name)

my name is Irayya

In [4]:
type(a)

int

In [5]:
type(name)

str

Q.2

Ans.2

In [12]:
## i write the program as range of number between 2000 to 3200 and this number which will divisible by 7 but not a multiple of 5 and number obtetend a comm-separeted sequence in single line

In [18]:
a=list(range(2000,3200))

In [20]:
leng=len(a)

In [21]:
print(leng)

1200

In [35]:
i=list(range(0,leng))

In [70]:
for i in a:
    if i%7==0:
        if (i%5)!=0: 
            print(str(i)+',',end='')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [66]:
for i in range (2000,3200):
    if (i%7==0 and i%5!=0):
        print(str(i)+',',end='')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [85]:
start=input('enter the starting range')
end=input('enter the ending number')
for num in range(int(start),int(end)+1):
    if ((num%7==0)&(num%5!=0)):
        print((str(num)+','),end='')

enter the starting range2000
enter the ending number3200
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q.3

Ans

In [86]:
print('writing the program for accessing the user input and printing the reverce order with space ')

writing the program for accessing the user input and printing the reverce order with space

In [89]:
first_name=input('enter your first name ')
last_name=input('enter your last name ')
first=list(first_name)
last=list(last_name)
first[::-1]
last[::-1]
print(' your first name is{} and last name is{}'.format(first,last))

enter your first name irayya
enter your last name swamy
 your first name is['i', 'r', 'a', 'y', 'y', 'a'] and last name is['s', 'w', 'a', 'm', 'y']

In [90]:
print(first,last,end='')

['i', 'r', 'a', 'y', 'y', 'a'] ['s', 'w', 'a', 'm', 'y']

In [94]:
first[::-1]

['a', 'y', 'y', 'a', 'r', 'i']

In [92]:
last[::-1]

['y', 'm', 'a', 'w', 's']

In [98]:
print((first[::-1]),(last[::-1]),end='')

['a', 'y', 'y', 'a', 'r', 'i'] ['y', 'm', 'a', 'w', 's']

In [99]:
first_name=input('enter your first name ')
last_name=input('enter your last name ')
print((first_name[::-1]),(last_name[::-1]),end='')

enter your first name irayya
enter your last name swamy
ayyari ymaws

Q.4

Ans

In [100]:
print('writing the program for finding the diameter of volume of sphere')

writing the program for finding the diameter of volume of sphere

In [103]:
pi=3.142
a=4/3
print(pi)
print(a)

3.142
1.3333333333333333

In [116]:
d=input('enter the diameter of sphere')
r=int(d)/2
rad=int(r)^3
v=(4*pi*rad)/3
print('volume of sphere is =',v )

enter the diameter of sphere12
volume of sphere is = 20.946666666666665

In [122]:
d=input('enter the diameter of sphere in cm')
r=float(d)/2
rad=r**3
pi=3.142
a=4/3
v=a*pi*rad
print('volume of sphere is =',v )

enter the diameter of sphere in cm12
volume of sphere is = 904.896

In [129]:
d=input('enter the diameter of sphere in cm')
v=((4/3)*3.142*((float(float(d)/2))**3))
print('volume of sphere is =',v)

enter the diameter of sphere in cm12
volume of sphere is = 904.896

#task2

Q1

ans

In [130]:
#...writing the programing for sequence of comma-separeted number from console

In [163]:
num = input('enter the comma-separated number')
list=num.split(',')
print(list)

enter the comma-separated number1,2,3,4,5
['1', '2', '3', '4', '5']

Q2

Ans

In [131]:
#..writinf the program for pattern using the nested for loop

In [142]:
num=5
for i in range(1,num+1):
    for j in range(1,i+1):
        print('*',end='')
    print()
for k in range(num+1,1,-1):
    for j in range(1,k-1):
        print('*',end='')
    print()

*
**
***
****
*****
****
***
**
*

Q3.

Ans

In [132]:
#...writing the program for accepting the input from user and reverse the word

In [161]:
word =list(input("enter the word"))
fnl=word[::-1]
l=(len(word))
fnl[0]=word[l-2]
fnl[1]=word[l-1]
print((fnl))

enter the wordjupyter
['e', 'r', 't', 'y', 'p', 'u', 'j']

In [146]:
word=input('enter the word')
l=len(word)
print(fnl=word[::-1]),

'retypuj'